.container {
    margin: 50px;
    padding: 12;
    background-color: #377b8e ;
}

.form-section {
    background-color: #ffffff; /* Cambia el color del fondo de la sección del formulario */
    color: #3f8d9b; /* Cambia el color del texto */
}